[
    {post, [
            {pools, [
                {pool1, [
                    {size, 10},
                     {max_overflow, 20}
                         ], [
                    {hostname, "localhost"},
                    {database, "postgres"},
                    {username, "postgres"},
                    {password, "postgres"}]}
                    ]
            }
           ]        
    }   
].



        